<div class="container d-flex justify-content-center gap-4 mt-5">
    <div class="card col-12" style="width: 18rem; cursor: pointer;" (click)="navigateTo('home')">
      <img  class="card-img-top" alt="At Home" src="https://hips.hearstapps.com/hmg-prod/images/core-workouts-at-home-1666192539.png?crop=1.00xw:0.753xh;0,0.0743xh&resize=1200:*">
      <div class="card-body text-center">
        <h5 class="card-title">At Home</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem; cursor: pointer;" (click)="navigateTo('gym')">
      <img class="card-img-top" alt="At Gym" src="https://explosivewhey.com/cdn/shop/articles/best-workout-routine-for-gym-beginners-135325.png?v=1738755379&width=2048">
      <div class="card-body text-center">
        <h5 class="card-title">At Gym</h5>
      </div>
    </div>
  </div>
  