.success-message {
  color: green;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.invalid {
  border-color: red;
}
