<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand fs-1 ms-0 text-white" routerLink="/home" routerLinkActive="active">test sample</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse me-5 mt-2" id="navbarScroll">
        <ul class="navbar-nav mx-auto gap-md-3 my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px">
          <li class="nav-item tab">
            <a class="nav-link active text-white tab" aria-current="page" routerLink="/home" routerLinkActive="active">HOME</a>
          </li>
          <li class="nav-item tab">
            <a class="nav-link active text-white tab" aria-current="page" routerLink="/products" routerLinkActive="active">PRODUCTS</a>
          </li>
          <li class="nav-item tab">
            <a class="nav-link active text-white tab" aria-current="page" routerLink="/trainers" routerLinkActive="active">TRAINERS</a>
          </li>
          <li class="nav-item tab">
            <a class="nav-link active text-white tab" aria-current="page" routerLink="/exercises" routerLinkActive="active">EXERCISES HUB</a>
          </li>
          <li class="nav-item tab">
            <a class="nav-link text-white tab" routerLink="/about" routerLinkActive="active">ABOUT</a>
          </li>
          <li class="nav-item tab">
            <a class="nav-link text-white tab" routerLink="/contactus" routerLinkActive="active">CONTACT US</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <a class="mx-3" routerLink="/login" routerLinkActive="active">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
              class="bi bi-person text-black icon" viewBox="0 0 16 16">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
            </svg>
          </a>
  
          <span class="me-3" style="cursor: pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
              class="bi bi-bag text-black icon" viewBox="0 0 16 16">
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
  
              <text *ngIf="cart.length > 0" x="50%" y="66%" fill="black" font-size="7"
                class="text-dark-emphasis mt-2 fw-bold" text-anchor="middle" dominant-baseline="middle">
                {{ cart.length }}
              </text>
            </svg>
          </span>
  
          <!-- start logout ICon -->
          <a class="mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="black" class="bi bi-box-arrow-right"
              style="cursor: pointer;" viewBox="0 0 16 16" (click)="OnLogout()">
              <path fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
              <path fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
            </svg>
          </a>
          <!-- end logout ICon -->
  
  
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        </form>
      </div>
    </div>
  </nav>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">
        <a class="text-black fs-5" routerLink="/cart" routerLinkActive="active" data-bs-dismiss="offcanvas"
          aria-label="Close">
          <!--********MINI CART BAG ICON HERE ****-->
          <span class="d-block">Cart details
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
              class="bi bi-bag text-black ms-2 icon mb-2" viewBox="0 0 16 16">
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
            </svg>
          </span>
        </a>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body fs-6">
      <!-- CANVAS BODY -->
      <div class="ms-4 mt-lg-5 mb-5">
        <!--BREAD CRUMB-->
        <span class="fw-semibold">
          <a routerLinkActive="active" routerLink="/home" class="text-decoration-none text-secondary fs-6"
            data-bs-dismiss="offcanvas" aria-label="Close">HOME
          </a>
          <span class="text-secondary"> / </span>
          <span> CART </span>
        </span>
      </div>
  
      <app-cart-items class="mt-5" /><!--cart items-->
  
      <div class="" *ngIf="cart.length > 0; elseCond">
        <div class="d-flex justify-content-center">
          <a routerLinkActive="active" routerLink="/checkout" class="text-decoration-none">
            <button type="button" class="btn btn-outline-dark fw-bold border-3" data-bs-dismiss="offcanvas"
              aria-label="Close">
              CHECKOUT
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>