<div class="container text-center text-md-left">
  <div class="row text-center text-md-left">
    <!-- Company Info -->
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
        {{ "footer.info.h5" | translate }}
      </h5>
      <p>{{ "footer.info.p" | translate }}</p>
    </div>

    <!-- Quick Links -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 quick-links">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
        {{ "footer.links.h5" | translate }}
      </h5>
      <p>
        <a routerLink="/" class="text-white" style="text-decoration: none">
          {{ "footer.links.link1" | translate }}
        </a>
      </p>
      <p>
        <a
          routerLink="/products"
          class="text-white"
          style="text-decoration: none"
        >
          {{ "footer.links.link2" | translate }}
        </a>
      </p>
      <p>
        <a
          routerLink="/exercises"
          class="text-white"
          style="text-decoration: none"
        >
          {{ "footer.links.link3" | translate }}
        </a>
      </p>
      <p>
        <a
          routerLink="/trainers"
          class="text-white"
          style="text-decoration: none"
        >
          {{ "footer.links.link4" | translate }}
        </a>
      </p>
      <p>
        <a
          routerLink="/nutrition"
          class="text-white"
          style="text-decoration: none"
        >
          {{ "footer.links.link5" | translate }}
        </a>
      </p>
    </div>

    <!-- Contact -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
        {{ "footer.contact.h5" | translate }}
      </h5>
      <p>
        <i class="fas fa-home mr-3"></i> {{ "footer.contact.p1" | translate }}
      </p>
      <p><i class="fas fa-envelope mr-3"></i> info&#64;fitnesspartner.com</p>
      <p>
        <i class="fas fa-phone mr-3"></i> {{ "footer.contact.p2" | translate }}
      </p>
      <p>
        <i class="fas fa-print mr-3"></i> {{ "footer.contact.p3" | translate }}
      </p>
    </div>

    <!-- Social Media -->
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
        {{ "footer.SocialMedia.h5" | translate }}
      </h5>
      <a href="#" class="btn btn-outline-light btn-floating m-1"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="#" class="btn btn-outline-light btn-floating m-1"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="#" class="btn btn-outline-light btn-floating m-1"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="#" class="btn btn-outline-light btn-floating m-1"
        ><i class="fab fa-youtube"></i
      ></a>
    </div>
  </div>

  <hr class="mb-4" style="background-color: white" />

  <div class="row align-items-center">
    <div class="text-center">
      <p>{{ "footer.p" | translate }}</p>
    </div>
  </div>
</div>
