<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
        
            <!-- Company Info -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Fitness Partner</h5>
                <p>Building strength, health, and a better you. Join our fitness community today!</p>
            </div>
    
            <!-- Quick Links -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 quick-links">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Quick Links</h5>
                <p><a routerLink="/" class="text-white " style="text-decoration: none;">Home</a></p>
                <p><a routerLink="/products" class="text-white" style="text-decoration: none;">Products</a></p>
                <p><a routerLink="/exercises" class="text-white" style="text-decoration: none;">Exercises</a></p>
                <p><a routerLink="/trainers" class="text-white" style="text-decoration: none;">Trainers</a></p>
                <p><a routerLink="/nutrition" class="text-white" style="text-decoration: none;">Nutrition</a></p>
            </div>
    
            <!-- Contact -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                <p><i class="fas fa-home mr-3"></i> Cairo, NY 10012, Egypt</p>
                <p><i class="fas fa-envelope mr-3"></i> info&#64;fitnesspartner.com</p>
                <p><i class="fas fa-phone mr-3"></i> +02 01012347581</p>
                <p><i class="fas fa-print mr-3"></i> +02 01102356987</p>
            </div>
    
            <!-- Social Media -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Follow Us</h5>
                <a href="#" class="btn btn-outline-light btn-floating m-1"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="btn btn-outline-light btn-floating m-1"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-outline-light btn-floating m-1"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-outline-light btn-floating m-1"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    
        <hr class="mb-4" style="background-color: white;">
    
        <div class="row align-items-center">
            <div class="text-center">
            <p>&copy; 2025 Fitness Partner. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
