<div class="container-fluid my-5">
  <h2 class="text-center fw-bold fs-1 mb-4" style="color: #ff9933">
    {{ "nutrition.fatCalculator.h2" | translate }}
  </h2>
  <div class="row">
    <div class="col-md-7" data-aos="fade-right" data-aos-duration="1000">
      <form
        (ngSubmit)="calculateFat(fatForm)"
        #fatForm="ngForm"
        class="shadow p-4 rounded bg-light"
      >
        <div class="row g-3">
          <div class="col-md-4">
            <label for="age" class="form-label">
              {{ "nutrition.fatCalculator.label1" | translate }}
            </label>
            <input
              id="age"
              class="form-control"
              type="number"
              required
              name="age"
              [(ngModel)]="formData.age"
            />
            <div
              *ngIf="fatForm.submitted && fatForm.controls['age'].invalid"
              class="text-danger"
            >
              {{ "nutrition.fatCalculator.invalid1" | translate }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="weight" class="form-label">
              {{ "nutrition.fatCalculator.label2" | translate }}
            </label>
            <input
              id="weight"
              class="form-control"
              type="number"
              required
              name="weight"
              [(ngModel)]="formData.weight"
            />
            <div
              *ngIf="fatForm.submitted && fatForm.controls['weight'].invalid"
              class="text-danger"
            >
              {{ "nutrition.fatCalculator.invalid2" | translate }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="height" class="form-label">
              {{ "nutrition.fatCalculator.label3" | translate }}
            </label>
            <input
              id="height"
              class="form-control"
              type="number"
              required
              name="height"
              [(ngModel)]="formData.height"
            />
            <div
              *ngIf="fatForm.submitted && fatForm.controls['height'].invalid"
              class="text-danger"
            >
              {{ "nutrition.fatCalculator.invalid3" | translate }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="neck" class="form-label">
              {{ "nutrition.fatCalculator.label4" | translate }}
            </label>
            <input
              id="neck"
              class="form-control"
              type="number"
              required
              name="neck"
              [(ngModel)]="formData.neck"
            />
            <div
              *ngIf="fatForm.submitted && fatForm.controls['neck'].invalid"
              class="text-danger"
            >
              {{ "nutrition.fatCalculator.invalid4" | translate }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="waist" class="form-label">
              {{ "nutrition.fatCalculator.label5" | translate }}
            </label>
            <input
              id="waist"
              class="form-control"
              type="number"
              required
              name="waist"
              [(ngModel)]="formData.waist"
            />
            <div
              *ngIf="fatForm.submitted && fatForm.controls['waist'].invalid"
              class="text-danger"
            >
              {{ "nutrition.fatCalculator.invalid5" | translate }}
            </div>
          </div>
          <div class="col-md-4" *ngIf="formData.gender === 'female'">
            <label for="hip" class="form-label">
              {{ "nutrition.fatCalculator.label6" | translate }}
            </label>
            <input
              id="hip"
              class="form-control"
              type="number"
              required
              name="hip"
              [(ngModel)]="formData.hip"
            />
            <div
              *ngIf="fatForm.submitted && fatForm.controls['hip'].invalid"
              class="text-danger"
            >
              {{ "nutrition.fatCalculator.invalid6" | translate }}
            </div>
          </div>
          <div class="col-md-6">
            <label for="gender" class="form-label">
              {{ "nutrition.fatCalculator.label7" | translate }}
            </label>
            <select
              id="gender"
              class="form-select"
              required
              name="gender"
              [(ngModel)]="formData.gender"
            >
              <option value="">
                {{ "nutrition.fatCalculator.select" | translate }}
              </option>
              <option value="male">
                {{ "nutrition.fatCalculator.male" | translate }}
              </option>
              <option value="female">
                {{ "nutrition.fatCalculator.female" | translate }}
              </option>
            </select>
            <div
              *ngIf="fatForm.submitted && fatForm.controls['gender'].invalid"
              class="text-danger"
            >
              {{ "nutrition.fatCalculator.invalid8" | translate }}
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary mt-3" type="submit">
              {{ "nutrition.fatCalculator.btn" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5" data-aos="fade-left" data-aos-duration="1000">
      <img
        src="assets/nutrition-imgs/body-fat-1.svg"
        alt="Body Fat Calculator"
        class="img-fluid"
      />
    </div>

    <div *ngIf="result" class="alert alert-warning mt-5 shadow-sm rounded">
      <h5 class="mb-3">
        {{ "nutrition.fatCalculator.result.h5" | translate }}
      </h5>
      <p>
        <strong> {{ "nutrition.fatCalculator.result.p1" | translate }} </strong>
        {{ result.bodyFat }}%
      </p>
      <p><strong>
        {{ "nutrition.fatCalculator.result.p2" | translate }}

      </strong> {{ result.status }}</p>
    </div>
  </div>
  <style>
    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      padding: 0.875rem 2rem;
      background: linear-gradient(90deg, #cc0000 0%, #ff9933 100%) !important;
      border: none;
      border-radius: 50px;
      color: #0a0a0a;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      transition: transform 0.2s ease;
      margin-top: 35px;
    }
    button:hover {
      transform: scale(1.05);
      color: white;
    }
  </style>
</div>

<hr />
