<div class="container-fluid py-5 bg-dark text-white">
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-5">
      <h1 class="display-5">
        {{ "nutrition.meal-comparison.h1" | translate }}
      </h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3 mb-4" *ngFor="let plan of mealPlans">
      <div class="text-center mb-3">
        <h2 class="fs-2">{{ plan.type }}</h2>
        <p class="calorie-range fs-4">{{ plan.calorieRange }}</p>
        <p class="small">{{ "nutrition.meal-comparison.p1" | translate }}</p>
      </div>

      <div class="nutrition-info text-center mb-3">
        <p class="mb-1">
          {{ "nutrition.meal-comparison.p2" | translate }} {{ plan.carbs }}
          {{ "nutrition.meal-comparison.unit" | translate }}
        </p>
        <p class="mb-1">
          {{ "nutrition.meal-comparison.p3" | translate }} {{ plan.protein }}
          {{ "nutrition.meal-comparison.unit" | translate }}
        </p>
        <p class="mb-1">
          {{ "nutrition.meal-comparison.p4" | translate }} {{ plan.fat }}
          {{ "nutrition.meal-comparison.unit" | translate }}
        </p>
      </div>

      <div class="meal-image">
        <img
          [src]="plan.imageUrl"
          class="img-fluid rounded"
          alt="{{ plan.type }} meal"
        />
      </div>
    </div>
  </div>
</div>
