<div class="password-container">
  <div class="profile-header">
    <div class="avatar-container">
      <img [src]="user.avatar || 'profileImgRemove.png'" class="avatar" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" [value]="user.fName + ' ' + user.lName" class="form-control" disabled />
    </div>

    <div class="password-field">
      <label>Password</label>
      <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="user.password" class="password-control"
        [readonly]="!isEditing" />
      <button type="button" (click)="togglePasswordVisibility()" class="eye-btn">
        {{ showPassword ? '👁️' : '👁️‍🗨️' }}
      </button>
    </div>
  </div>

  <div class="btn-container">
    <button type="button" (click)="toggleEdit()" class="btn btn-outline-light orange-btn fw-semibold">
      {{ isEditing ? 'Submit' : 'Edit' }}
    </button>
  </div>
</div>