<div class="container mt-4">
  <div class="row">
    <div *ngFor="let card of subCards; let last = last" class="col-md-6 mb-4 d-flex">

      <div class="card p-3 w-100">
        <h2 class="text-center">{{ card.title }}</h2>
        <p>{{ card.description }}</p>
        <img [src]=" card.image" alt="{{ card.title }}" class="img-fluid main-image mb-3" />

        <div *ngIf="card.items && card.items.length > 0" class="items mt-3">
          <h3 class="text-center mb-3">Examples</h3>
          <div class="d-flex flex-wrap justify-content-center gap-4">
            <div *ngFor="let item of card.items" class="text-center">
              <img [src]="item.image" alt="{{ item.name }}" class="item-image mb-2" />
              <p class="item-title mb-0">{{ item.name }}</p>
            </div>
          </div>
        </div>

        <div *ngIf="!last" class="divider"></div>
      </div>
    </div>
  </div>
