<ng-template #emptyCart>
  <div
    class="d-flex flex-wrap justify-content-center col-8 col-lg-6 mx-auto p-1"
  >
    <span class="fw-bold col-12 text-center">
      {{ "cart.cartItems.span1" | translate }}</span
    >
    <span class="fw-light text-dark-emphasi text-center col-12">
      {{ "cart.cartItems.span2" | translate }}</span
    >
    <img
      class="col-8 col-lg-7 mt-3"
      src="https://static.vecteezy.com/system/resources/previews/040/479/106/non_2x/cartoon-gym-bag-icon-png.png"
      alt="Empty cart image"
    />
    <div class="d-flex justify-content-center col-12">
      <a
        routerLinkActive="active"
        routerLink="/products"
        class="text-decoration-none"
      >
        <button
          type="button"
          class="btn btn-outline-light fw-bold border-2 text-center fs-6 mt-5 fnt"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          {{ "cart.cartItems.btn" | translate }}
        </button>
      </a>
    </div>
  </div>
</ng-template>

<div class="container px-2" *ngIf="cartItems.length > 0; else emptyCart">
  <div class="mt-4">
    <div class="d-flex justify-content-evenly text-center text-muted fw-bold">
      <span class="w-25 fs-6"> {{ "cart.cartItems.span3" | translate }} </span>
      <span class="w-25 fs-6">{{ "cart.cartItems.span4" | translate }}</span>
      <span class="w-25 fs-6">{{ "cart.cartItems.span5" | translate }}</span>
      <span class="w-25 fs-6">{{ "cart.cartItems.span6" | translate }}</span>
    </div>
    <hr />
    <!-- Loop through cart items -->
    <div *ngFor="let item of cartItems; trackBy: trackByFn">
      <div class="d-flex justify-content-evenly align-items-center text-center">
        <!-- Trash button -->
        <button
          type="button"
          class="btn mb-1"
          aria-label="Close"
          (click)="trashItem(item)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash trashIcon mt-2"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
            />
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
            />
          </svg>
        </button>

        <span class="w-25 d-flex align-items-center text-wrap">
          <img
            src="{{ item.image }}"
            alt="Product"
            class="me-2 rounded"
            style="width: 50px; height: 50px; object-fit: cover"
          />

          <!-- <span class="small text-truncate w-100">{{ item.name }}</span> -->

          <span
            class="small text-muted me-2 ms-0 fw-semibold d-none d-sm-block"
            *ngIf="item.selectedFlavor"
          >
            {{ item.name }} ({{ item.selectedFlavor }})
          </span>
        </span>

        <span class="w-25 text-wrap ms-3" style="font-size: 0.85rem">{{
          item.price | currency : "EGP"
        }}</span>

        <span class="w-25 me-4">
          <button
            class="btn p-0 ms-2"
            (click)="removeFromCart(item)"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-dash-lg"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"
              />
            </svg>
          </button>
          <span class="fw-bold fs-6 ms-1">{{ item.quantity }}</span>
          <button class="btn p-0 ms-2" (click)="addToCart(item)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              fill="currentColor"
              class="bi bi-plus-lg"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
              />
            </svg>
          </button>
        </span>

        <span class="w-25 text-wrap" style="font-size: 0.85rem">{{
          item.total | currency : "EGP"
        }}</span>
      </div>
      <hr />
    </div>
  </div>
</div>
<style>
  /* Flavor text under image */
  .w-25 .small {
    /* font-size: 9px; */
    display: block;
    text-align: center;
    margin-top: 5px;
  }
</style>
