<app-loading-spinner *ngIf="isLoading" [message]="'Loading About...'"></app-loading-spinner>

<div class="container-fluid p-0 position-relative">
  <img src="assets/about-us/aboutUs.jpg" class="img-fluid w-100 cover-img-style">
  <div class="overlay-text d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-3 fw-bold text-white mb-3">About Us</h1>
    <p class="h3">Your Fitness Journey, Smarter and Stronger with Fitness Partner</p>
  </div>
</div>

<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-md-7 " data-aos="fade-right" data-aos-duration="1000">
      <h2 class="text-center fw-bold fs-1" style="color: #ff9933;">At Fitness Partner</h2>
      <p class="fs-4 my-md-5"> We believe fitness should be simple, smart, and personal. That's why we’ve built a platform that does more than just offer products, We become your true partner in health and fitness.</p>
    </div>
    <div class="col-md-5 my-md-5" data-aos="fade-left" data-aos-duration="1000">
      <img src="assets/about-us/img.jpg" class="img-fluid rounded-5">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h2 class="text-center fw-bold fs-1 my-3" style="color: #ff9933;">Why Choose Us?</h2>
    <div class="col-md-6 d-flex flex-column align-items-center mt-lg-3 text-white" style="background-color: #010101;" data-aos="fade-right" data-aos-duration="1000">
      <!-- icon -->
      <i class="fa-solid fa-hand-sparkles gradient-icon mt-4"></i>
      <h4 class="text-center fw-bold my-3" style="color: #ff9933;">AI-Powered Personalization</h4>
      <p class="px-5 pb-4 fs-5">Our smart AI system helps you find the perfect nutrition plan 
        based on your InBody analysis, your personal goals, and your entered data.
        Whether you're aiming to lose weight, build muscle, or improve overall health, 
        our AI tailors the best path for you—no guesswork, just results.</p>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center mt-lg-3 text-white" style="background-color: #1e1d1d;" data-aos="fade-left" data-aos-duration="1000">
      <!-- icon -->
      <i class="fa-solid fa-capsules gradient-icon mt-4"></i>
      <h4 class="text-center fw-bold my-3" style="color: #ff9933;">Top-Quality Nutritional Supplements</h4>
      <p class="px-5 fs-5">Fuel your body with only the best. We offer carefully 
        selected supplements to boost your energy, recovery, and performance, 
        so you can train harder and feel better every day.</p>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center" style="background-color: #fd650dd9;" data-aos="fade-up" data-aos-duration="1000">
      <!-- icon -->
      <i class="fa-solid fa-dumbbell second-icon mt-4"></i>
      <h4 class="text-center fw-bold my-3">Find Your Perfect Trainer</h4>
      <p class="px-5 fs-5 fw-medium">Looking for expert support? Browse and connect with 
        certified personal trainers who understand your journey and are ready to create
        customized training plans just for you.</p>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center" style="background-color: #ff7e33d9;" data-aos="fade-down" data-aos-duration="1000">
      <!-- icon -->
      <i class="bi bi-fire second-icon mt-2"></i>
      <h4 class="text-center fw-bold my-3">Effective Exercises for Every Level</h4>
      <p class="px-5 fs-5 fw-medium">From beginner to advanced, from home workouts to full gym
        programs—we provide a wide range of exercises to keep you moving toward your goals.</p>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center" style="background-color: #ff9933b3;" data-aos="fade-up" data-aos-duration="1000">
      <!-- icon -->
      <i class="fa-solid fa-utensils gradient-icon mt-4"></i>
      <h4 class="text-center fw-bold my-3">Smart Nutrition Advice</h4>
      <p class="px-5 fs-5 fw-medium">Eating right has never been easier. Get access to easy, 
        practical nutrition tips and meal ideas that match your plan and fuel your progress.</p>
    </div>
  </div>
</div>
