<div class="container my-5">
  <div class="row align-items-center mt-4">
    <div class="col-md-6 mb-4 ">
      <img
        src="/assets/aboutUs.jpg"
        alt="About Us"
        class="img-fluid rounded shadow"
      />
    </div>

    <div class="col-md-6">
      <h2>About Us</h2>
      <p>
        Welcome to our fitness and wellness platform! We are a team of certified
        trainers and health professionals dedicated to helping you achieve your
        fitness goals.
      </p>
      <p>
        Our mission is to make healthy living simple, accessible, and enjoyable
        for everyone.
      </p>
      <p>
        We offer expert training, personalized programs, and premium health
        products to support your wellness journey.
      </p>
    </div>
  </div>
</div>
