<h2 class="text-center">
  🏋️ <strong>{{ "machine.h2" | translate }}</strong>
</h2>
<p class="text-center text-secondary">
  {{ "machine.p1" | translate }}
</p>
<div
  class="identify-machine my-4 p-3 border rounded bg-light mx-auto"
  style="max-width: 1000px; margin: 0 auto"
>
  <h5 class="my-2">📸 {{ "machine.h5" | translate }}</h5>

  <label for="file-upload" class="btn btn-outline-dark my-3">
    {{ "machine.chooseFile" | translate }}
  </label>
  <input
    id="file-upload"
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    class="form-control mb-2"
    style="display: none"
  />

  <p class="text-muted">
    {{ "machine.p2" | translate }}
  </p>

  <button
    class="btn btn-primary"
    (click)="identify()"
    [disabled]="!selectedFile || loading"
  >
    {{
      loading
        ? ("machine.loadingBtn.txt1" | translate)
        : ("machine.loadingBtn.txt2" | translate)
    }}
  </button>

  <div class="mt-3" *ngIf="result">
    <strong>{{ "machine.result.txt" | translate }}</strong>
    <span [innerHTML]="safeResult"></span>
  </div>

  <div class="text-danger mt-2" *ngIf="error">
    {{ "machine.result.error" | translate }}
  </div>
</div>
